<!DOCTYPE html>
<html lang="en" ng-app = 'myApp'>
<head>
    <meta charset="UTF-8">
    <title>Memory Matching</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!--<script src="http://learning-fuze.github.io/memory_match/v0.1/script.js"></script>-->
    <meta name="Author" content="Joshua Byun">
    <meta name="Description" content="Matching Robot Game">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="script.js"></script>

</head>
<body ng-controller = "cardController as cc">
<!-- Header Container -->
<header>
    <div class="img">
        <img src="../memory_match/images/evangelion_main.jpg">
    </div>
    <div class="header_content">
        <h1>Let's Match Robots!</h1>
        <ul>
            <li>Setting</li>
            <li><a href="about.html">About</a></li>
        </ul>
    </div>
</header>
<!-- Stats Container -->
<section class="stats_container">
    <div class="games-played">
        <div class="label">Games Played</div>
        <div class="value"></div>
    </div>
    <div class="attempts">
        <div class="label">Attempts</div>
        <div class="value"></div>
    </div>
    <div class="accuracy">
        <div class="label">Accuracy</div>
        <div class="value"></div>
    </div>
    <div class="reset_btn_container">
        <button class="reset" ng-click="cc.randomSort()">Reset Game</button>
    </div>
</section>
<!-- Game Area -->
<section id="game-area">
    <div class="card" ng-click="cc.card_clicked()" ng-repeat="item in cc.imgArr track by $index">
        <div class="front"><img ng-src="{{item}}"></div>
        <!--<div class="back"><img src="images/nerv.png"></div>-->
    </div>
</section>
</body>
</html>