*{
    font-size: 0;
}
body{
    height: 100vh;
    width: 100vw;
    margin:0;
    display:inline-block;
    /*background-image: url('../memory_match/images/evangelion-backgrounds-03.jpg');*/
    background-repeat: no-repeat;
    background-size:cover;
 }

header{
    height:20%;
    width:100%;
    display:inline-block;
    position:relative;
}
.stats_container{
    height:80%;
    width:15%;
    display:inline-block;
    position:relative;
}
.stats_container > *{
    font-size: initial;
}
#game-area{
    height:80%;
    width:85%;
    display:inline-block;
    position:absolute;
}
.card{
    margin: 0.7%;
    box-sizing: border-box;
    height:25%;
    width:13%;
    position:relative;
    display:inline-block;
    transform-style: preserve-3d;
}
.back{
    opacity: .5;



    height : 100%;
    width : 100%;
    position: absolute;
    border:2px solid black;
    border-radius: 5px;
}
.front{
    height : 100%;
    width : 100%;
    position: absolute;
    transform: rotateY(-180deg);
    background: radial-gradient(#D37A1A,#D33A1A,#A30909,#5C0000,#330000,black);
    border:2px solid black;
    border-radius: 5px;
}
.back > img, .front > img{
    height : 100%;
    width : 100%;
}
/*-------------------*/
.flipFront{
    transform: rotateY(0deg);
    transition:1s;
    visibility: visible;
}
.flipBack{
    transform: rotateY(180deg);
    transition: 1s;
    /*visibility: hidden;*/
}
.flipFront2{
    transform: rotateY(-180deg);
    transition:1s;
}
.flipBack2{
    transform: rotateY(0deg);
    transition: 1s;
}