*{
    font-size: 0;
}
body{
    height: 100vh;
    width: 100vw;
    margin:0;
    display:inline-block;
 }
header{
    height:15%;
    width:100%;
    display:inline-block;
    position:relative;
}
.stats_container{
    height:85%;
    width:15%;
    display:inline-block;
    position:relative;
}
#game-area{
    height:85%;
    width:85%;
    display:inline-block;
    position:absolute;
}
.card{
    margin: 0.7%;
    /*border:1px solid black;*/
    box-sizing: border-box;
    height:25%;
    width:13%;
    position:relative;
    display:inline-block;
}
.back{
    height : 100%;
    width : 100%;
    /*background-color:pink;*/
    position: absolute;
}
.front{
    height : 100%;
    width : 100%;
    /*background-color:white;*/
    position: absolute;
}
.back > img, .front > img{
    height : 100%;
    width : 100%;
}