*{
    font-size: 0;
}
/*---------------body & background image animation----------------------------*/
body{
    background-color:black;
    height: 100vh;
    width: 100vw;
    margin:0;
    display:inline-block;
    background-repeat: no-repeat;
    background-size:cover;
    animation-duration: 2s;
    animation-timing-function: linear;
 }
@keyframes player2Background {
    from {
        background-image: url('../memory_match/images/evangelion-backgrounds-00.png');
    }
    to {
        background-image: url('../memory_match/images/evangelion-backgrounds-03.jpg');
    }
}
@keyframes player1Background {
    from {
        background-image: url("../memory_match/images/evangelion-backgrounds-03.jpg");
    }
    to {
        background-image: url('../memory_match/images/evangelion-backgrounds-00.png');
    }
}
@keyframes initialToPlayer1Background {
    from {
        background-image: url('../memory_match/images/evangelion-backgrounds-01.jpg');
    }
    to {
        background-image: url('../memory_match/images/evangelion-backgrounds-00.png');
    }
}

/*-------------------game setting --------------------------------------------------*/
#gameOption{
    position: absolute;
    height:60%;
    width:40%;
    top:20%;
    left:30%;
    background-image: url("../memory_match/images/evangelion-backgrounds-initialpage-00.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;
    border:1px solid red;
    border-radius: 5%;
}
#gameOption *{
    font-size: 3vh;
}
#optionContainer{
    position:absolute;
    display: block;
    width: 100%;
    top:50%;
    text-align: center;
}
#optionTitle{
    position:relative;
    color:white;
    text-shadow: 5px 5px 10px black;
}
#player{
    display: inline-block;
    position:relative;
    box-sizing: border-box;
    width:100%;
}
#start{
    position:relative;
    width:100%;
    color:white;
}
#start:hover{
    color:orangered;
    cursor: pointer;
}
.playSelector + label{
    color:white;
    margin :0 5%;
    cursor: pointer;
}
.playSelector:checked + label{
    color:red;
}
.playSelector{
    display: none;
}
.playerName{
    border: 1px solid black;
    width:50%;
    box-sizing: border-box;
    border-radius: 20%;
    font-family: "Times New Roman";
    text-align: center;
}
.playerName::-webkit-input-placeholder{
    text-align: center;
    font-size: 1.5vw;
    font-family:"Times New Roman";
}

header{
    height:20%;
    width:100%;
    display:inline-block;
    position:relative;
}
/*--------------------------stats boxes-------------------------------------------*/
.stats_container *{
    font-size: initial;
}
.stats_container{
    height:80%;
    width:15%;
    display:inline-block;
    position:relative;
}
.statBox{
    position:relative;
    width:100%;
    height:35%;
    border:1px solid red;
    box-sizing: border-box;
    border-radius: 5%;
    text-align: center;
}

.label, .value, .statsHeader{
    font-size: 2vh;
    color:white;
}

/*----------------------game area / card ------------------------------------------*/
#game-area{
    height:80%;
    width:85%;
    display:inline-block;
    position:absolute;
}
.card{
    margin: 0.7%;
    box-sizing: border-box;
    height:25%;
    width:13%;
    position:relative;
    display:inline-block;
    transform-style: preserve-3d;
}
.back{
    opacity: .5;


    height : 100%;
    width : 100%;
    position: absolute;
    border:2px solid black;
    border-radius: 5px;
}
.front{
    height : 100%;
    width : 100%;
    position: absolute;
    transform: rotateY(-180deg);
    background: radial-gradient(#D37A1A,#D33A1A,#A30909,#5C0000,#330000,black);
    border:2px solid black;
    border-radius: 5px;
}
.back > img, .front > img{
    height : 100%;
    width : 100%;
}
/*-----------------------------------card animation-------------------------*/
.flipFront{
    transform: rotateY(0deg);
    transition:1s;
    visibility: visible;
}
.flipBack{
    transform: rotateY(180deg);
    transition: 1s;
    /*visibility: hidden;*/
}
.flipFront2{
    transform: rotateY(-180deg);
    transition:1s;
}
.flipBack2{
    transform: rotateY(0deg);
    transition: 1s;
}
/*--------------------------------------------------------------------------*/